<!-- /Para la maquetacion se utilizo Boostrap 4 -->


<nav class="navbar sticky-top navbar-toggleable-md bg-inverse"> 
	
	
	<div class="navbar-collapse row" id="navbarSupportedContent">
		<h1 class="navbar-brand white titulo">Productos</h1>
		<li class="nav-item dropdown">
			<a class=" dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			  Filtrar
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
			<a class="dropdown-item" *ngFor="let cat of categorias" (click)="filtrarCategoria(cat)">Categoria: {{cat.name}}</a>	
			<a class="dropdown-item" (click)="filtrarDisponibles()" >Disponibles</a>
			<a class="dropdown-item" (click)="filtrarAgotados()" >Agotados</a>
			<a class="dropdown-item" (click)="filtrarMasVendidos()" >Más Vendidos</a>
			<a class="dropdown-item" (click)="filtrarMayor()" >Precio mayor a 30.000</a>
			<a class="dropdown-item" (click)="filtrarMenor()" >Precio menor a 10.000</a>
			<a class="dropdown-item" (click)="eliminarFiltros()" >Eliminar Filtros</a>
			</div>
		  </li>
		  <li class="nav-item dropdown">
			<a class=" dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			  Ordenar
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
			  <a class="dropdown-item" (click)="ordenarNombre()" href="#">Por Nombre</a>
			  <a class="dropdown-item" (click)="ordenarMayor()" href="#">Mayor Precio</a>
			  <a class="dropdown-item" (click)="ordenarMenor()">Menor Precio</a>
			</div>
		  </li>
	</div>

	<div class="navbar-collapse row" id="navbarSupportedContent">
		<div class="col-9"> <input class="form-control mr-sm-2 buscar" type="text" [(ngModel)]="nombreProducto"  placeholder="Search" aria-label="Search"></div>
		<div class="col-1" (click)="open(content)"> <p  class=" btn btn-outline-success "><i class="fa fa-shopping-cart carrito" aria-hidden="true"></i> <span class="cantidad">{{cantidad}}</span></p> </div>
		<div class="col-1" (click)="open(content)"></div>
	</div>
	

	
</nav>




<!-- /.col-lg-3 -->

<div class="col-lg-12 contenedor">


	<div class="row" >
		<div  class="col-lg-3 col-md-6 mb-3" *ngFor="let producto of filtrar(); let i=index"  >
			<div class="card h-100 espaciado"  >
				<img class="card-img-top imagen-producto" src="{{producto.img}}" alt="">
				<div class="card-body">
					<h4 class="card-title espaciado-top">
						<a href="#">{{producto.name}}</a>
					</h4>
					<h5>{{producto.price}}</h5>
					<!--<h6>{{producto.inventario}} unidades disponible</h6>-->
					<p class="card-text">{{producto.description}}</p>
				</div>
				<div class="card-footer">
					<small *ngIf="producto.best_seller" class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9733;</small>
					<span class="btn btn-success flotar-derecha cursor" (click)="eliminar(producto)">Comprar</span>
				</div>
			</div>
		</div>
		<!-- /.row -->

	</div>
	<!-- /.col-lg-9 -->



<!-- Modal -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Carrito de Productos</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
						<table class="table ">
						<thead>
							<tr>
								<th>#</th>
								<th>Producto</th>
								<th>Precio</th>
								<th >Eliminar</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let producto of elementosCarritoStorage; let i=index">
								<th scope="row">{{i+1}}</th>
								<td>{{producto.name}}</td>
								<td>{{producto.price}}</td>
								<td class="cursor" (click)="eliminarProductoCarrito(i)">Eliminar</td>
							</tr>
							<tr>
								<td> </td>
								<td></td>
								<th scope="row">Total </th>
								<th scope="row">${{precio}}</th>
							</tr>
						</tbody>
					</table>



	</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark cursor" (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>
