.imagen-producto{
	max-width: 300px;
}

.eliminar{
	display: none;
}

.contenedor{
	padding-top: 10px;
}

.titulo{
	margin-left: 12px;
	margin-right: 0px;
}

.dropdown{
	padding-top: 10px;
}

.dropdown-toggle{
	color: white;
}



.cantidad{
	margin-top: -3px;
    margin-left: -5px;
    position: absolute;
    background: #f50;
    border-radius: 50%;
    padding: 2px;
    width: 20px;
    height: 20px;
    color: #fff;
    font-size: 12px;
}

.carrito{
	font-size: 25px;
	cursor: pointer;
}

.flotar-derecha{
	float: right;
}

.espaciado{
	padding: 20px;

}
.espaciado-top{
	margin-top: 10px;
}

.white{
	color: #fff;
}

.cursor{
	cursor: pointer;
}

.imagen-slider{
	width: 100% !important;
	height: 400px !important;
	max-height: 400px !important;
}